.button {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;

    &--new-game {
        color: #fff;
        margin: 0 0 1em 0;

        &::before {
            content: url('../imgz/newGee.svg');
            display: block;
            width: 30%;
            margin: 0 auto;
        }
    }

    &--hold {
        color: $siteRed;

        &::before {
            content: url('../imgz/hold.svg');
            display: block;
            width: 50%;
            margin: 0 auto;
        }
    }

    &--roll {
        color: $siteRed;

        &::before {
            content: url('../imgz/roll.svg');
            display: block;
            width: 50%;
            margin: 0 auto;
        }
    }
}
